<div class="container-fluid">
  <!--inicio del home-->
  <div id="home" class="row align-items-center hero">
    <div class="col-lg-3 offleft-lg-2">
      <p>Productora Audiovisual</p>
      <h1>Panda Rojo</h1>
      <p>Somos una productora fundada en el año 2022 en Italia, somos dos
        artistas argentinos uniendo habilidades para generar contenido
        audivisual.</p>
    </div>
  </div>
  <!--fin del home-->
  <!-- inicio de Novedades -->
  <div class="row my-3">
    <!-- inicio de novedades -->
    <div id="novedades" class="col-md-5 offset-md-2 my-3 scroll_section">
      <h2 class="text-center">Novedades</h2>
      <ul class="lista-novedades">
        {{#each novedades}}
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#Modal{{id}}">
              <img src="{{imagen}}" />{{titulo}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
    <!-- fin de novedades -->
    <!-- comienzo testimonios -->
    <div class="col-md-3 my-3">
      <div class="rounded py-5 testimonios">
        <h2 class="text-center">Testimonios</h2>
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="true"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonio">
                <h5>"Excelente servicio, muy satisfecho con el trabajo final"</h5>
                <p>Lautaro Lozano, Palomar</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonio">
                <h5>"Son muy profesionales, el tiempo de entrega fue el pactado"</h5>
                <p>Ariana Gomez, Jose C. Paz</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonio">
                <h5>"Quede encantado con las imagenes que me hicieron, son unos
                  genios"</h5>
                <p>Bartolomeo Agnone, Pilar</p>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div><!-- fin caruosel testimonios -->
    </div><!-- fin testimonios -->
  </div><!-- fin Novedades -->
  <!-- inicio modal -->
  {{#each novedades}}
    <div
      class="modal fade"
      id="Modal{{id}}"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">{{titulo}}</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img src="{{imagen}}" />
            <h3>{{subtitulo}}</h3>
            <p>{{cuerpo}}</p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  <!-- fin modal -->
  <!-- comienzo historia -->
  <div id="historia" class="row align-items-center py-4 scroll_section">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
      <img src="images/nosotros.jpeg" alt="historia 1" class="img-fluid" />
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
      <img src="images/pc.jpeg" alt="historia 2" class="img-fluid" />
    </div>
    <div class="col-12 d-sm-none">
      <img src="images/viaje.jpeg" alt="historia 2" class="img-fluid" />
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
      <h2>Historia</h2>
      <p>La productora audiovisual "Panda Rojo" surgé de la idea de Victoria
        Piemonte (artista visual) y Lucas Casal (músico), una pareja de
        argentinos que viaja a Italia en busqueda de un nuevo estilo de vida,
        apenas se asientan en la región de Molise deciden dar inicio a esta
        productora con la busqueda de generar contenido para distintas marcas de
        manera mundial.</p>
    </div>
  </div>
  <!-- fin de historia -->
  <!-- inicio nosotros -->
  <div id="nosotros" class="row align-items-center staff py-4 scroll_section">
    <div class="col-lg-8 offset-lg-1">
      <h2>Nosotros</h2>
      <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <div class="card" style="border: none;">
            <img
              src="images/yo.jpeg"
              class="card-img-top"
              alt="Lucas Casal Goncalves Do Rego"
            />
            <div class="card-body">
              <h5 class="card-title">Lucas Casal Goncalves Do Rego</h5>
              <p class="card-text">Músico,multi-instrumentista
                (Batería,Piano,Sintetizadores,maquinas de ritmo, trompeta, bajo
                y guitarra), Productor Musical (Uso de Ableton Live 10) donde no
                solo realiza la Producción del tema contando con una gran
                carpeta de sonidos y efectos personalizados, además realiza la
                mezcla y el master con un resultado apto para cualquier tipo de
                plataforma, lleva 13 años tocando en diversas bandas tanto la
                batería como los sintetizadores, con lo cual a logrado una gran
                experiencia en las performances en vivo, participaciones en
                festivales presenciales y online, disparando pistas, ajustes de
                volumenes en consola (como ingeniero de sonido) y a su vez como
                productor lleva 8 años en una interminable lista de producciones
                realizadas de diversos estilos. Su formación academica ha sido
                en la Escuela de Arte Leopoldo Marechal por 5 años donde
                adquirió conocimientos teorícos y prácticos especializado en
                batería, tanto como se ha formado con diversos profesores
                particulares.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="border: none;">
            <img
              src="images/vicky.jpeg"
              class="card-img-top"
              alt="Maria Victoria Piemonte"
            />
            <div class="card-body">
              <h5 class="card-title">Maria Victoria Piemonte</h5>
              <p class="card-text">Diseñadora Gráfica (Photoshop, Ilustrator y
                Corel Painter), Artista Visual y Licenciada en Artes Visuales
                con orientación en grabado. Su versatilidad tanto a la hora de
                diseñar a mano alzada, con la wacom o realizando grabados le
                permite explorar diversos matices y lograr el resultado adecuado
                para cada obra. Desde sus 6 años comenzó a ir a clases de dibujo
                y a medida que fue creciendo sus dibujos fueron evolucionando
                con su perspectiva, Lleva 10 años realizando grabados y
                presentandose en una lista inumerable de concursos tanto a nivel
                nacional (Argentina) como internacional. Su formación academica
                ha sido en la Universidad del Museo Social Argentino por 5 años
                donde adquirió su titulo como Licenciada en Artes Visuales,
                además aprendió el uso de los diversos programas y tecnicas que
                sigue usando hasta el día de hoy, tanto como se ha formado en
                otras instuticones como Escuela de Arte Multimedial Da Vinci
                (Ilustración) y ENESCA (Master en Producción).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin nosotros -->
  <!-- inicio visitanos -->
  <div id="visitanos" class="row py-4 scroll_section">
    <div class="col-md-4 offset-md-2">
      <h2>Visitanos</h2>
      <div class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2975.268612109961!2d14.411360714587946!3d41.77942437956404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133085976415e645%3A0x64171c840519fbdc!2sVia%20Guglielmo%20Marconi%2C%2025%2C%2086086%20Poggio%20Sannita%20IS!5e0!3m2!1ses-419!2sit!4v1659013472013!5m2!1ses-419!2sit"
        >
        </iframe>
      </div>
    </div><!-- fin visitanos -->
    <!-- inicio id Contactanos -->
    <div class="col-md-4 mt-4 mt-sm-0">
      <h2>Contactanos</h2>
      <form class="row g-3" action="/" method="post">
        <div class="col-md-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" />
        </div>
        <div class="col-md-6">
          <label for="apellido" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="apellido"
            name="apellido"
          />
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="email@email.com"
            name="email"
          />
        </div>
        <div class="col-12">
          <label for="tel" class="form-label">Tel</label>
          <input
            type="text"
            class="form-control"
            id="tel"
            placeholder="..."
            name="tel"
          />
        </div>
        <div class="col-12">
          <label for="mensaje" class="form-label">Mensaje</label>
          <textarea
            class="form-control"
            id="mensaje"
            rows="3"
            name="mensaje"
          ></textarea>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
      <p>{{message}}</p>
    </div><!-- cierra div con id contactanos -->
  </div><!-- cierra div con id conocenos -->
</div><!-- fin contenedor principal -->